**Importing Neccessay library**

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\karth\Desktop\Decoder Lecture\Sessions\Day 20\votingdataset.csv")

In [3]:
data.head()

,Unnamed: 0,aid,budget,crime,duty_free_exports,eaa_rsa,education,immigration,infants,missile,party,physician,religious,salvador,satellite,superfund,synfuels,water
0,0,0,0,1,0,1,1,1,0,0,republican,1,1,1,0,1,0,1
1,1,0,0,1,0,1,1,0,0,0,republican,1,1,1,0,1,0,1
2,2,0,1,1,0,0,0,0,0,0,democrat,0,1,1,0,1,1,1
3,3,0,1,0,0,1,0,0,0,0,democrat,0,1,1,0,1,1,1
4,4,0,1,1,1,1,0,0,1,0,democrat,0,1,1,0,1,1,1

**Checking Necessary condition for FeatureSelection**

In [5]:
y=data["party"]
y

0      republican
1      republican
2        democrat
3        democrat
4        democrat
          ...
430    republican
431      democrat
432    republican
433    republican
434    republican
Name: party, Length: 435, dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         435 non-null    int64
 1   aid                435 non-null    int64
 2   budget             435 non-null    int64
 3   crime              435 non-null    int64
 4   duty_free_exports  435 non-null    int64
 5   eaa_rsa            435 non-null    int64
 6   education          435 non-null    int64
 7   immigration        435 non-null    int64
 8   infants            435 non-null    int64
 9   missile            435 non-null    int64
 10  party              435 non-null    object
 11  physician          435 non-null    int64
 12  religious          435 non-null    int64
 13  salvador           435 non-null    int64
 14  satellite          435 non-null    int64
 15  superfund          435 non-null    int64
 16  synfuels           435 non-null    int64
 17  water              435 non-null    int64
dtypes: int64(17), object(1)
memory usage: 61.3+ KB

In [11]:
X=data.drop("party",axis=1)

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         435 non-null    int64
 1   aid                435 non-null    int64
 2   budget             435 non-null    int64
 3   crime              435 non-null    int64
 4   duty_free_exports  435 non-null    int64
 5   eaa_rsa            435 non-null    int64
 6   education          435 non-null    int64
 7   immigration        435 non-null    int64
 8   infants            435 non-null    int64
 9   missile            435 non-null    int64
 10  physician          435 non-null    int64
 11  religious          435 non-null    int64
 12  salvador           435 non-null    int64
 13  satellite          435 non-null    int64
 14  superfund          435 non-null    int64
 15  synfuels           435 non-null    int64
 16  water              435 non-null    int64
dtypes: int64(17)
memory usage: 57.9 KB

In [13]:
type(X)

pandas.core.frame.DataFrame

In [15]:
X.shape

(435, 17)

# Importing train_test_split

In [16]:
from sklearn.model_selection import train_test_split

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,stratify=y,random_state=43)

In [32]:
X_train.shape

(304, 17)

In [33]:
X_test.shape

(131, 17)

In [40]:
from sklearn.linear_model import LogisticRegression

In [41]:
model=LogisticRegression()

In [42]:
model.fit(X_train,y_train)

C:\Users\karth\anaconda3\envs\model\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [44]:
model.score(X_test,y_test)

0.9389312977099237